<h1>Cars#edit</h1>



<%= simple_form_for(@car) do |c| %>
  <%= c.label :name %>
  <%= c.text_field :name %>
  <%= c.label :description %>
  <%= c.text_field :description %>
  <%= c.label :price %>
  <%= c.text_field :price %>
  <%= c.submit %>
<% end %>

<%= link_to "retour a l'index", cars_path  %>
