
<h1><strong>LIST ALL CARS</strong></h1>


<% @cars.each do |car| %>
<br> <%= link_to car_path(car) do %>
<%= car.name  %>
<% end %>
<%= car.price %>
<%= link_to "edit", edit_car_path(car) %>
<%= link_to "",
            car_path(car),
            method: :delete,
            class: "fa fa-trash",
            data: { confirm: "Are you sure?" } %>


<% end %>
<br>

 <%= link_to "new car", new_car_path  %>
