<h1>Details sur la car</h1>


<%= @car.name %>
<%= @car.description %>
 <p><%= @car.price %>€</p>

<%= link_to "retour a l'index", cars_path  %>
<%= link_to "booking this car", new_car_booking_path(@car)%>
